In [1]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('transfers.csv', sep = ';')

In [3]:
df

,id,player_id,player_name,season,date,from_club_id,from_club_name,to_club_id,to_club_name,market_value,fee,from_coach_name,to_coach_name,from_sport_dir_name,to_sport_dir_name,contract_was_till,is_loan,is_end_of_loan,is_future_transfer
0,1,1,Jermaine Beckford,2017,2017-07-01,391,Preston NE,392,Bury,500000.0,0.0,NaN,NaN,NaN,NaN,NaN,0,0,0
1,2,1,Jermaine Beckford,2015,2015-07-01,289,Bolton,391,Preston NE,750000.0,0.0,NaN,NaN,NaN,NaN,NaN,0,0,0
2,3,1,Jermaine Beckford,2014,2015-06-30,391,Preston NE,289,Bolton,750000.0,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
3,4,1,Jermaine Beckford,2014,2014-11-20,289,Bolton,391,Preston NE,1200000.0,NaN,Neil Lennon,Simon Grayson,NaN,NaN,2015-06-30,1,0,0
4,5,1,Jermaine Beckford,2013,2013-07-17,271,Leicester,289,Bolton,1500000.0,NaN,Nigel Pearson,Dougie Freedman,NaN,NaN,2015-06-30,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111597,111598,11381,Andreas Neuendorf,1994,1994-07-01,7133,Füchse Berlin,2,Bay. Leverkusen,NaN,100000.0,Wolfgang Sandhowe,Dragoslav Stepanovic,NaN,Jörg Daniel,NaN,0,0,0
111598,111599,11381,Andreas Neuendorf,1993,1993-07-01,9380,Füchse U19,7133,Füchse Berlin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
111599,111600,11382,Michael Obafemi,2018,2019-01-01,753,Southampton U23,278,Southampton,1000000.0,NaN,Radhi Jaidi,Ralph Hasenhüttl,NaN,NaN,NaN,0,0,0
111600,111601,11382,Michael Obafemi,2018,2018-07-01,754,Southampton U18,753,Southampton U23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
111601,111602,11382,Michael Obafemi,2016,2016-07-01,9381,Leyton Youth,754,Southampton U18,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,0,0

In [4]:
G = nx.MultiDiGraph()
counter = 0
for index, row in df.iterrows():
    counter+=1
    tmp = list(G.nodes())
    G.add_edge(row['from_club_name'],row['to_club_name'], player = row['player_name'])

In [5]:
nx.write_gexf(G, "test.gexf")